@font-face {
  font-family: PixeloidMono;
  src: url("../font/PixeloidMono.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

.container {
  background-image: url("../img/windowsBG.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
}

.time {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 500;
  font-family: PixeloidMono;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: rgb(32, 79, 167);
  box-shadow: 1px 22px 5px -16px rgb(70, 119, 209) inset, 1px -22px 5px -16px rgb(27, 64, 133) inset;
}

.navBarRight {
  position: absolute;
  right: 0%;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 147, 190);
  box-shadow: 1px 22px 5px -16px rgb(70, 181, 209) inset, 1px -22px 5px -16px rgb(27, 103, 133) inset, 20px 2px 5px -16px rgb(70, 181, 209) inset;
}

.navBarLeft {
  position: absolute;
  left: 0%;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(34, 136, 65);
  box-shadow: 1px 22px 5px -16px rgb(28, 100, 46) inset, 1px -22px 5px -16px rgb(18, 99, 31) inset, -20px 2px 5px -16px rgb(50, 163, 55) inset;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: PixeloidMono;
  border-radius: 0 16px 16px 0;
  gap: 15px;
  transition: ease 0.2s;
}

.navBarLeft img {
  height: 60%;
  margin-left: 20px;
}

.profileContainer {
  width: 500px;
  height: 400px;
  background-color: rgb(32, 79, 167);
  border-radius: 14px 14px 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px -9px 12px 3px rgb(27, 64, 133) inset, 3px 24px 12px -17px rgb(87, 129, 207) inset;
  position: fixed;
  top: 4%;
  left: 5%;
  animation: openPersonal 0.5s ease;
}

.profileInfoContainer {
  width: 95%;
  height: 84%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 12px 3px rgb(87, 129, 207), -1px 2px 47px -21px rgba(0, 0, 0, 0.75) inset;
}

.personalHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  width: 100%;
  color: white;
  font-size: 1.5em;
  font-family: PixeloidMono;
}

.personalIMG {
  height: 70%;
  margin-left: 3%;
  margin-right: 1%;
}

.closeIMG {
  height: 70%;
  margin-left: 24.6%;
  transition: ease 0.2s;
}

.closeIMG:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.personalNavbar {
  margin: auto;
  margin-left: 200px;
  height: 70%;
  transition: ease 0.2s;
}

.personalNavbar:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.profileIMG {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.profileIMG p {
  width: 70%;
  margin: auto;
  margin-top: 6%;
  margin-left: 6%;
  margin-bottom: 0;
  font-family: PixeloidMono;
  color: rgb(43, 43, 43);
  border: solid rgb(201, 201, 201) 10px;
  background-color: rgb(201, 201, 201);
}

.profileIMG img {
  width: 70%;
  margin: auto;
  margin-top: -4%;
  margin-left: 6%;
  border: solid rgb(201, 201, 201) 10px;
}

.profileInfo {
  height: 100%;
  width: 50%;
}

.profileAboutHD {
  height: 10%;
  width: 100%;
  color: rgb(26, 26, 26);
  font-size: 2em;
  font-weight: 600;
  font-family: PixeloidMono;
  margin-left: 0;
}

.profileAbout {
  font-family: PixeloidMono;
  font-size: 1.2em;
  font-weight: 600;
}

@keyframes openPersonal {
  from {
    transform: translate(-100px, 700px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
